<<<<<<< HEAD
body {
    font-family: 'Poppins';
}

.navbar .container-fluid .title{
    font-size: 22px;
}

.navbar .fish {
    color: #FCF300;
}

.navbar .container-fluid .page{
    font-size: 28px;
    color: #FCF300;
}

/* Sidebar */
.sidebar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .container .card-aquarium{
    background-color: #64B5F6;
    color: #fff;
  }

.pages{
    min-width: 409px;
    min-height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #6C757D
}

.page-item .page-link{
    color: #6C757D
}

.list-aquarium {
    color: inherit;
=======
body {
    font-family: 'Poppins';
}

.navbar .container-fluid .title{
    font-size: 22px;
}

.navbar .fish {
    color: #FCF300;
}

.navbar .container-fluid .page{
    font-size: 28px;
    color: #FCF300;
}

/* Sidebar */
.sidebar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .container .card-aquarium{
    background-color: #64B5F6;
    color: #fff;
  }

.pages{
    min-width: 409px;
    min-height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #6C757D
}

.page-item .page-link{
    color: #6C757D
>>>>>>> 7b3e4c64dc4b2277525390dd118031b1653939bb
}